*{
    background-color: black;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: white;
    position: absolute;
    bottom: 10%;
    margin: 0 50%;
}

#load {
    background-color: white;
    position: absolute;
    bottom: 30%;
    width: 100px;
    height: 60px;
    margin: 0 47%;
}

#procent {
    position: absolute;
    left: 18px;
    font-size: 50px;
}

#loading {
    visibility: hidden;
}

.countHolder {
    overflow: hidden;
    position: absolute;
    border-style: solid white;
    bottom: 15%;
    width: 150px;
    height: 65px;
    margin: 0 46%;
}

.countHolder img{
    position: relative;
    float: left;
    width: 45px;

}

.countHolder #eenHeid {
    bottom: 0;
    /* margin-top: 1px; */
    transition: transform 5s ease-in-out;
}

.countHolder #tienTal {
    bottom: 9px;
    transition: transform 5s ease-in-out;
}

.countHolder #eenHeid-active {
    bottom: 675px;
}



/* @keyframes scrollEen {
    from    {bottom:0px;}
    to      {bottom: 675px;}
}

@keyframes scrollTien {
    from    {bottom:0px;}
    to      {bottom: 325px;}
} */